# Compilation folders
Debug/
Release/
bin/
x64/

# Other folders
.vs/
ipch/
*.dSYM

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Settings
*.user
*.sdf
xcuserdata/

.DS_STORE
